<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="#home">Home</a></li>
<li><a href="#assessment">Assessment</a></li>
<li><a href="#schedule">Schedule</a></li>
<li><a href="#integrity">Academic Integrity</a></li>
<li><a href="#disability">Disability-Related Accommodations</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:njr2128@columbia.edu" target="_blank">Email</a></li>
   <li><a href="https://github.com/cu-mkp/GR8975" target="_blank">Github</a></li>
   <li><a href="http://making-and-knowing.wikischolars.columbia.edu/" target="_blank">Wiki</a></li>
   </ul>
  </footer>
  </body>

</html>
